// Button component

@use 'variables' as *;
@use 'mixins' as *;

.button {
  @include button-reset;
  @include hover-lift;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-sm $spacing-lg;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  color: $bg-color;
  background-color: $primary-color;
  border-radius: $border-radius-md;
  transition: background-color $transition-base;
  
  &:hover {
    background-color: darken($primary-color, 10%);
  }
  
  &:active {
    transform: translateY(0);
  }
  
  // Variants
  &--secondary {
    background-color: $secondary-color;
    
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  
  &--success {
    background-color: $success-color;
    
    &:hover {
      background-color: darken($success-color, 10%);
    }
  }
  
  &--danger {
    background-color: $danger-color;
    
    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }
  
  &--outline {
    color: $primary-color;
    background-color: transparent;
    border: $border-width solid $primary-color;
    
    &:hover {
      background-color: $primary-color;
      color: $bg-color;
    }
  }
  
  // Sizes
  &--small {
    padding: $spacing-xs $spacing-md;
    font-size: $font-size-sm;
  }
  
  &--large {
    padding: $spacing-md $spacing-xl;
    font-size: $font-size-lg;
  }
}

